<h1>All Tweets</h1>

<ul>
  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <h3><%= tweet.content %></h3>
      <div class="tweet-btn" >
        <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-primary" %>
        <%= button_to 'Delete', tweet_path(tweet), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>

    </div>
  <% end %>
</ul>

<%= stylesheet_link_tag 'style', media: 'all' %>

<%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-success' %>
